.card-1 {
    width: 100%; // Giữ chiều rộng cho thẻ card
    img {
        max-width: 90%; // Đảm bảo ảnh không vượt quá chiều rộng của thẻ card
        height: auto; // Giữ tỷ lệ khung hình
        width: 50%; // Giảm kích thước ảnh xuống 70% (hoặc giá trị nhỏ hơn nếu cần)
        margin: 0 auto; // Căn giữa ảnh nếu cần
    }
    
    &.fadeInLeft {
        visibility: visible;
        animation-name: fadeInLeft;
    }
}
.h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 64px;
    font-style: italic;
}
.h5, h5 {
    font-size: 1.25rem;
    font-style: italic;
}